[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"

[dev-packages]
ruff = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.4"

[scripts]
main = "python main.py"
